modules:
  github:
    api_key: '{{ keys.GITHUB_API_KEY }}'
  passivetotal:
    username: ''
    api_key: ''
  virustotal:
    api_key: '{{ keys.VIRUSTOTAL_API_KEY }}'
  securitytrails:
    api_key: '{{ keys.SECURITYTRAILS_API_KEY }}'
  binaryedge:
    api_key: '{{ keys.BINARYEDGE_API_KEY }}'
  zoomeye:
    api_key: ''
  c99:
    api_key: ''
  hunterio:
    api_key: '{{ keys.HUNTERIO_API_KEY }}'
  builtwith:
    api_key: '{{ keys.BUILTWITH_API_KEY }}'
  censys:
    api_id: '{{ keys.CENSYS_ID }}'
    api_secret: '{{ keys.CENSYS_SECRET }}'
  fullhunt:
    api_key: ''
  shodan_dns:
    api_key: '{{ keys.SHODAN_API_KEY }}'
output_modules:
  neo4j:
    username: neo4j
    password: bbotislife
  http:
    username: ''
    password: ''
  websocket:
    token: ''
agent_token: ''
interactsh_token: null
